html,body{margin:0;color:#4E4D55;font:normal 14px "Verdana","Tahoma",sans-serif;}
body{background-color:#C18A5E;}
a{outline:0;}

#wrapper{width:800px;margin:auto;}

#menu{margin:0;padding:0;white-space:nowrap;}
#menu li{background:#FF8133;display:inline-block;width:25%;text-align:center;transition:ease .5s background-color;}
#menu li:first-child{border-radius:0 0 0 8px;}
#menu li:last-child{border-radius:0 0 8px 0;}
#menu li:hover{background:#4E4D55;}
#menu li a{display:block;padding:20px 0;font-size:1.143em;color:#FAEFE7;text-decoration:none;}

#main{background:#FAEFE7;margin:0 20px 10px;padding:30px;border-radius:0 0 8px 8px;}
#main h1{margin-top:0;}
#main h1, #main h2{display:inline-block;}

#main li{font-size:1.143em;}
#main li a{color:#4E4D55;transition:ease .3s color;}
#main li a:hover{color:#777;}
#main li p{padding:10px;background:#4E4D55;font-size:.875em;color:#fff;border-radius:8px;}

#main .desc{padding:15px;margin-bottom:40px;font-size:.875em;background:#fff;border:2px solid #FF8133;border-radius:8px;}
#main .article{margin-bottom:30px;white-space:nowrap;}
#main .article>p{white-space:normal;word-wrap:break-word;font-size:1.142em;padding:10px 20px 30px;background:#fff;border-bottom:solid 10px #4E4D55;border-radius:12px 12px 30px 30px;}
#main .article a{color:#4E4D55;transition:ease .3s color;}
#main .article a:hover{color:#777;}
#main .article .attachments{display:inline-block;width:40%;vertical-align:top;}
#main .article .attachments a{display:block;}
#main .article .commentsWrapper{display:inline-block;width:60%;}
#main .article .commentsWrapper>a{line-height:2em;margin:1.125em 0;}
#main .article .comments{max-height:380px;overflow:auto;}
#main .article .comment{font-size:.857em;padding:10px;margin-bottom:20px;background:#4E4D55;color:#fff;border-radius:8px;}
#main .article .comment>*{white-space:normal;}
#main .article .comment.negative{background:#FC5044;}
#main .article .comment.positive{background:#234919;}
#main .article .comment span{font-size:.833em;}

#colorVer{text-align:center;margin-bottom:10px;}
#colorVer a{text-decoration:none;}

.formWrapper{margin:0 15px;}
.formElem{margin-bottom:.714em;white-space:nowrap;line-height:2em;}
.formElem>label{width:50%;}
.formElem>input,.formElem>select,.formElem>textarea{width:50%;padding:.5em 0 .5em 5px;}
.formElem>textarea{resize:vertical;}
.formElem>div{display:inline-block;width:50%;}
.formElem>div>.block{margin-bottom:10px;}
.formElem>div>.block:last-child{margin-bottom:0;}
.formElem>select{padding:.5em 5px;}
.formElem label{display:inline-block;vertical-align:top;width:45%;margin-right:5%;}
.formElem .bad{display:block;}
.formElem.form-btns{margin-top:60px;}
.formElem.form-btns input{padding:10px;border-radius:8px;width:40%;border:0;outline:0;background:#FF8133;font-size:1.143em;color:#fff;transition:ease .5s background-color;}
.formElem.form-btns input:first-child{margin-right:10%;}
.formElem.form-btns input:last-child{margin-left:10%;}
.formElem.form-btns input:hover{background:#4E4D55;}
.formElem.form-btns input:active{background:#222226;}

.bad{color:red;}
.positive{color:green;}
.block,.text-right,.text-left{display:block;}
.text-right{text-align:right;}
.text-left{text-align:left;}

.clear{clear:both;}

/* -- FOOTER -- CHAT -- */
#chat{position:fixed;bottom:0;left:0;width:100%;background:#FF8133;min-width:800px;}
#chatToggleOut{min-width:800px;margin:auto;}
#chatToggleBtnIn{float:right;margin-top:-40px;margin-right:60px;padding:10px 21px 11px 15px;background:#FF8133;border-radius:8px 8px 0 0;color:#fff;font-size:1.143em;line-height:1em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#chatToggleBtnIn input{display:none;}
#chatToggleBtnIn span{display:inline-block;height:18px;width:17px;margin:0 6px -5px 0;background-color:transparent;border:solid 2px #FAEFE7;border-radius:14px;transition:ease .4s background-color;}
#chatToggleBtnIn.checked span{background-color:#FAEFE7;}
#chatHide{height:0;overflow:hidden;transition:ease .6s height .2s;}
#chatCont{margin:20px;background:#faefe7;border-radius:8px;}
#msgsContOut{padding:12px 10px 0;}
#msgsCont{width:100%;display:block;margin:0;padding-bottom:12px;background:transparent;border:0;border-bottom:solid 1px #ccc;box-sizing:border-box;resize:none;}
#chatName,#chatMsg{padding:2px 10px 3px;margin:8px 0;line-height:1.143em;font-size:1em;text-align:right;background:transparent;border:0;border-right:solid 1px #ccc;box-sizing:border-box;}
#chatLeft{width:180px;float:left;border-radius:0 0 0 8px;}
#chatName{width:100%;}
#chatRight{width:210px;float:right;padding-left:10px;text-align:right;line-height:2.5em;box-sizing:border-box;}
#chatSend{height:36px;color:#fff;background:#FF8133 padding-box;border:solid 4px #FAEFE7;border-radius:12px;transition:ease .5s background-color;}
#chatSend:hover{background:#4E4D55 padding-box;}
#chatSend:active{background:#222226 padding-box;}
#chatCenter{margin:0 210px 0 180px;}
#chatSend.disabled{opacity:.8;}
#chatSend.disabled:hover{background:#FF8133 padding-box;}
#chatSend.disabled:active{background:#FF8133 padding-box;}
#chatMsg{width:100%;}

#chat .bad{background:#FF5654;}
#chat .bad input{color:#FAEFE7;border:0;}